:root {
  --color-primary: #BF7278;
  --color-secondary: #323232;
  --color-secondary-light: #e2e2e2;
  --color-accent: #6E798E;
  --color-white: #fff;
  --color-black: #000;

  --font-primary: "Proxima Nova", sans-serif;
  --font-secondary: "Lust", serif;
}

html {
  font-family: var(--font-primary);
}
