footer {
  background-color: #400D1A;
  color: #BF264F;
  font-family: var(--font-secondary);
}

.social-icon {
  max-width: 3em;
}

.social-icon:hover {
  transform: scale(1.2);
  transition: all 135ms ease;
}
