footer {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-primary);
}

.social-icon {
  max-width: 3em;
  transform: scale(.9);
}

.social-icon:hover {
  transform: scale(1.1);
  transition: all 500ms ease;
}
