.btn-one {
  border-radius: 100px;
  background-color: #BF264F;
  border-color: #BF264F;
}

.btn:hover {
  background-color: #BF264F;
  border-color: #BF264F;
}

.btn:focus {
  outline: 3px solid #fff;
}
