header {
  background-color: #fff;
}

.logo-p {
  text-align: center;
}

.logo {
  display: inline-block;
}

.logo:hover {
  transform: scale(1.1);
  transition: all 500ms ease;
}

.i-56 {
  height: 55px;
  width: 55px;
}

.pad-small {
  padding-top: 1em;
  padding-bottom: .5em;
}

.gutter-nav{
  padding-left: .75em;
  padding-right: .75em;
}

.pad-r {
  padding-right: .75em;
}

.nav {
  text-align: center;
}

.nav-current {
  font-weight: bold;
  color: var(--color-primary-light);
}

.nav-btn {
  color: var(--color-primary);
}

/**
 * Smooth scrolling inside an element
 */
html {
	scroll-behavior: smooth;
}

@media only screen and (min-width: 38em) {

    .logo-p {
      text-align: left;
    }

    .pad-small {
      padding-top: 0em;
      padding-bottom: 0em;
    }

    .gutter-nav{
      padding-left: 1em;
      padding-right: 1em;
    }

    .pad-r {
      padding-right: 1em;
    }

    .nav {
      text-align: right;
    }

}
