.header-nav {
  background-color: var(--color-black);
  color: var(--color-white);
}

.header-2 {
  background-image: url(/images/background-1.jpeg);
}

.header-title {
  color: var(--color-white);
  line-height: 0px;
}

.decoration, .header-text {
  text-decoration: none;
  list-style: none;
  color: var(--color-white);
}

.icon-link:hover {
  color: var(--color-primary-light);
}

.logo-icon {
  margin: auto;
  width: 200px;
}

@media only screen and (min-width: 38em) {

  .header-nav {
    display: block;
    text-align: right;
    padding-right: 40px;
  }

}
