<ul class="skip-links">
  <li><a href="#main">Jump to main content</a></li>
  <li><a href="#nav">Jump to navigation</a></li>
</ul>

<div class="header-nav">
  <div class="">
    <div class="header-fixed">
      <div class="grid island-2">
        <div class="unit xs-1 s-1 m-1 l-1 pad-t-1-2 main-nav header-fixed">
          <ul class="push-0 list-group-inline">
            <li class="{% if page.highlight_nav == 'home' %}current{% endif %}"><a class="icon-link decoration" href="/">Home</a></li>
            <li class="gutter {% if page.highlight_nav == 'about' %}current{% endif %}"><a class="icon-link decoration" href="/about/">About</a></li>
            <li class="{% if page.highlight_nav == 'contact' %}current{% endif %}"><a class="icon-link decoration " href="/">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
