
section {
  background-color: #fff;
}

.name, .sub-head {
  color: var(--color-secondary);
}

.project-header {
  font-family: var(--font-secondary);
  color: var(--color-orange);
  letter-spacing: 2px;

}

h2 {
  color: var(--color-primary-light);
  font-family: var(--font-secondary);
  letter-spacing: 2px;
}

.main-text {
  color: var(--color-black);
}

.header-text {
  font-weight: 800;
  color: var(--color-primary-light);
}

li {
  font-family: var(--font-primary);
}

.profile {
  margin: 0;
}

.img-3by2 {
  max-width: 850px;
  margin: 0 auto;
}

.notfound-banner {
  background-image: url(/images/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.notfound-header {
  font-size: 10rem;
  color: #fff;
  padding-bottom: 2.5rem;
}

.notfound-body {
  font-size: 1rem;
  color: #fff;
}

.bold {
  font-weight: bold;
  color: var(--color-primary-light);
}

.carousel-items > div {
  display: none;
}

#image-1-control:checked ~ .carousel-inner #image-1,
#image-2-control:checked ~ .carousel-inner #image-2,
#image-3-control:checked ~ .carousel-inner #image-3,
#image-4-control:checked ~ .carousel-inner #image-4 {
  display: block;
}

.carousel-btn {
  border: 4px solid #000;
  border-radius: 50%;
}

#image-1-control:checked ~ .carousel-inner [for="image-1-control"],
#image-2-control:checked ~ .carousel-inner [for="image-2-control"],
#image-3-control:checked ~ .carousel-inner [for="image-3-control"],
#image-4-control:checked ~ .carousel-inner [for="image-4-control"] {
  background-color: #000;
}
