h1 {
  color: #fff;
  letter-spacing: 2px;
}

h2, .about-text {
  color: #000;
}

.about-text {
  font-family: var(--font-secondary);
}

.layer:hover {
  background-color: rgba(0, 0, 0, 0);
  transition: all .2s linear;
}

.layer:hover h1 {
  display: none;
  transition: all .2s linear;
}

section {
  background-color: #fff;
}

.name {
  color: #801935;
}

.about-title {
  color: #801935;
  font-family: var(--font-primary);
}

.hr-one {
  color: #801935;
  border-top: 3px solid #801935;
  max-width: 145px;
}

.hr-two {
  color: #801935;
  border-top: 3px solid #801935;
  max-width: 270px;
}

li {
  font-family: var(--font-secondary);
  font-weight: 600;
}
