.about-text {
  color: var(--color-black);
  font-family: var(--font-primary);
  line-height: 1.5em;
}

section {
  background-color: #fff;
}

.name, .sub-head {
  color: var(--color-secondary);
}

.project-header {
  font-family: var(--font-secondary);
  color: var(--color-orange);
  letter-spacing: 2px;

}

h2, .about-title {
  color: var(--color-primary-light);
  font-family: var(--font-secondary);
  letter-spacing: 2px;
}

.main-text {
  color: var(--color-black);
}

.header-text {
  font-weight: 800;
  color: var(--color-primary-light);
}

li {
  font-family: var(--font-primary);
}

.profile {
  height: 30vh;
}

.img-3by2 {
  max-width: 850px;
  margin: 0 auto;
}

.bio {
  background-color: #fff;
}

.notfound-banner {
  background-image: url(/images/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.notfound-header {
  font-size: 10rem;
  color: #fff;
  padding-bottom: 2.5rem;
}

.notfound-body {
  font-size: 1rem;
  color: #fff;
}

.bold {
  font-weight: bold;
  color: var(--color-primary-light);
}
