.banner {
  background-image: url(/images/background-1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.banner-two {
  background-image: url(/images/nom-nom.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.banner-text {
  color: #000;
  letter-spacing: 2px;
}

.button-banner {
  top: 350px;
}
