.banner {
  background-image: url(/images/background-1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.banner-buchi {
  background-image: url(/images/blueberry.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.banner-tomaso {
  background-image: url(/images/tomaso-hat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.banner-text {
  color: #000;
  letter-spacing: 2px;
}

.button-banner {
  top: 350px;
}
